<h3>Are you a pet service provider? We’ll point our users to your services.</h3>

<%= form_for(ServiceProvider.new) do |f| %>

  <%= render 'service_providers/fields', f: f %>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
