<h3>Tell us about your business</h3>

<%= form_for(ServiceProvider.new, html: { "data-abide" => '' } ) do |f| %>

  <%= render 'service_providers/fields', f: f %>  

  <div class="actions">
    <%= f.submit "submit", class: "button small" %>
  </div>
<% end %>
