<!--
<section class="main_content_section bottom_padding_5">
  
  
  <div class="row">
	<div class="large-5 large-centered columns ">  		
	  <%= link_to image_tag('listing_box.png', size: '400x400', class: 'selectable_image'), "#", "data-reveal-id" => "newProviderModal" %>		       
	</div>
  </div>

</section>
-->

<section class="white_background">
  <div class="row">
	 <div class="large-9 large-centered columns">
	     <%= image_tag(s3_url('empawering_f.png'), size: '650x650', class: 'dooliddl_image') %>
	  </div>
  </div>
  <div class="row">
	 <div class="large-12 columns">
	    <p>DOOLIDDL HELPS YOU ORGANIZE & SHARE YOUR ANIMAL HEALTH INFORMATION WITH THOSE INVOLVED IN THEIR CARE</p>
	   </div>
  </div>
  
  <div class="row">
	<div class="large-12 columns">
      <ul class="small-block-grid-2 large-block-grid-4">
		<li>
	      <div class="panel callout front_page_callout">
            <p>Organize your animal's health information.</p>
          </div>
		</li>
		<li >
	      <div class="panel callout front_page_callout"> 
            <p>Be ready for veterinarian appointments or emergencies.</p>
          </div>
			
		</li>
		<li>
	      <div class="panel callout front_page_callout">
            <p>Connect with local service providers.</p>
          </div>
		</li>
		<li>
	      <div class="panel callout front_page_callout">
            <p>Maintain instant access to vaccination records.</p>
          </div>
		</li>
	  </ul>
    </div>
  </div>
  
  
  <div class="row">
	<div class="large-12 columns">
	  <p>
	    <b>CAPTURE IT ONCE - USE IT AGAIN AND AGAIN. AND NEVER LEAVE YOUR ANIMAL’S 
	       INFO STRANDED AT THE VET’S OR YOUR FILE CABINET.</b>
	  </p>
	</div>
  </div>
	  
</section>	

<div id="newProviderModal" class="reveal-modal">
  
  <%= render 'new_provider'%>
  
  <a class="close-reveal-modal">&#215;</a>
</div>




