<!--
<section class="main_content_section bottom_padding_5">
  
  
  <div class="row">
	<div class="large-5 large-centered columns ">  		
	  <%= link_to image_tag('listing_box.png', size: '400x400', class: 'selectable_image'), "#", "data-reveal-id" => "newProviderModal" %>		       
	</div>
  </div>

</section>
-->

<section id="home" class="green_background_front_page front_page_section_home full_page">
  <div class="row">
	 <div class="large-9 large-centered columns">
	     <h1 class="welcome_header">EMPAWERING ANIMAL HEALTH</h1>
	  </div>
  </div>
  <div class="row">
	 <div class="large-9 large-centered columns">
	    <h4 class="subheader center_text bottom_padding_3em">PETABYT IS A UNIVERSAL ELECTRONIC HEALTH RECORD THAT HELPS YOU ORGANIZE & SHARE 
	    	YOUR ANIMAL'S HEALTH INFORMATION WITH THOSE INVOLVED IN THEIR CARE</h4
	 </div>
  </div>
  
  <div class="row">
	<div class="large-10 large-centered columns">
      <ul class="small-block-grid-3 large-block-grid-5 center_text">
		<li>
	      Animal Custodians
		</li>
		<li >
	      Rescue Shelters
		</li>
		<li>
	      Kennels & Daycare
		</li>
		<li>
	      Breeders
		</li>
		<li>
	      Veterinarians
		</li>
		<li>
	      Retail
		</li>
		<li>
	      Pharmacy
		</li>
		<li>
	      Trainers
		</li>
		<li>
	      Sitters
		</li>
	  </ul>
    </div>
    
  </div>
  	  
</section>

<section id="about" class="gray_background front_page_section_about full_page ">
  <div class="row">
	 <div class="large-6 large-centered columns">
	     <h2 class="center_text">ABOUT PETABYT</h2>
	  </div>
  </div>
  <div class="row">
	 <div class="large-9 large-centered columns center_text">
	    <p>Petabyt is a universal electronic health record for your animals. We are passionate about healthcare (both animal & human) and 
	    	making it easier to keep your pets healthy through information technology.</p>

		<p>Through Petabyt, we set out to solve a problem that we as animal custodians faced: to ensure that out animal's information 
			was transmitted, not transported, available to those involved in their care, whenever and wherever it was needed.</p>

		<p>CAPTURE IT ONCE - USE IT AGAIN AND AGAIN. AND NEVER LEAVE YOUR ANIMAL’S INFO STRANDED AT THE VET’S OR IN YOUR FILE CABINET.</p>
	 </div>
	 <hr>
  </div>	
  
  <div class="row">
	 <div class="large-6 large-centered columns center_text">
	     <%= image_tag(s3_url('wc_P.png'), size: "200x200")%>
	  </div>
  </div>
  
		
  
</section>



<section id="login" class="red_background front_page_section_login full_page ">
  <div class="row">
	 <div class="large-6 large-centered columns">
	     <h2 class="center_text">LOGIN OR JOIN</h2>
	  </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <fieldset><%= render 'devise/registrations/register_sign_in'%></fieldset>
	</div>
  </div>	
  
  
</section>

<div id="newProviderModal" class="reveal-modal">
  
  <%= render 'new_provider'%>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
  document.body.scrollTop = document.documentElement.scrollTop = 0;
  //alert( "hey" + $( document ).height() );

  


</script>




