<p><%= @user.name_or_email %>,</p>

<p>You have been added to the <%=@household.name%> account on Dooliddl.</p>

<p><%= link_to "Help manage the household account here.", household_url(@household) %></p>