<p><%= @user.name_or_email %>,</p>

<p>You have been added to the <%=@service_provider.name%> account on Dooliddl.</p>

<p><%= link_to "Help manage the business account here.", service_provider_url(@service_provider) %></p>