<p><%= @user.name_or_email %>,</p>

<p>You have been added to the <%=@group.name%> account on AnimalMinder, a universal wellness management platform for animals.</p>

<% if @user.manage_group?(@group)  %>
  <p><%= link_to "Help manage the account here.", polymorphic_url(@group)  %></p>
<% else %>
  <p><%= link_to "www.animalminder.com", root_url  %></p>
<% end %>

<% render 'user_mailer/email_closing'%>
