<p><%= @animal.owner.name %>,</p>

<p>
  You were sent the following message about <b><%= @animal.name %></b>.
</p>

<frameset style="background-color:lightgrey">
  <p>
    <i><%= @message %></i>
  </p>
</frameset>

<%= render 'user_mailer/email_closing'%>
