<p>You are confirmed as the pet sitter.</p>

<!--- JDavis: need to update the wording.  jdhere.
<p>
  You are confirmed as the pet sitter for <name> on <date>.  
  Expect a follow up email reminder containing care instructions.
</p>
--->
