<p><%= @recipient %>,</p>

<p> <%= @owner_name %> has shared the <%= @title %> document for <%= @animal_name %> with you.  Please find the file attached to this email.</p>

<<% render 'user_mailer/email_closing'%>