<p> 
<%= @sender.name %> wants schedule grooming services for her animal between <%= @request.start_datetime %> and <%= @request.end_datetime %>.</p>  

<%= @sender.name %> is using Animal Minder, a universal wellness management platform for animal guardians accessible from your home computer or mobile device Animal Minder is an app that securely stores and organizes your animal's health and wellness information in the cloud. Receive reminders about important events such as heartworm treatments and annual checkups, schedule sitters, groomers, and vet visits, and share important info such as vaccination records and care instructions with those involved in their care. Never leave your animal's information trapped in your home filing cabinet or the vet's office again.</p> 

<p><b>Attention Animal Service providers!</b> Click here to create a free Animal Minder account, list your business in the Animal Minder provider directory, and let Animal Minder assist you in communication with your customers.</p> 

<p>Are you also an animal guardian? Click here to create a free household account and put Animal Minder to wk for your household.</p> 

<p>Best regards,<p></br> 
<p>Team Animal Minder</p>  
<p>www.animalminder.com</p> 
