<p><%= @user.name_or_email %>,</p>

<p>Thank you for signing up with AnimalMinder.</p>

<p><%= link_to "Manage your user account here.", user_url(@user) %></p>

<% render 'user_mailer/email_closing'%>