<p><%= @user.name_or_email %>,</p>

<p><%=@animal.name%> is due the following vaccination:</p>

<p><%=@msg%></p>

<p><%= link_to "Update the record for " + @animal.name + " here.", polymorphic_url([@animal.owner, @animal], action: :edit) %></p>
