<%= breadcrumb_nav([@user]) %>
<section class="border_top full_page">
 <div class="row">
    <div class="large-12 columns">
   	  <fieldset> 
	    <h4>Editing Profile</h4>
	
	    <%= render 'form' %>
	    <%= link_to 'Change Password', edit_user_registration_path %>
	 
   	  </fieldset>
    </div>
  </div>
</section>  

