
<div class="full_page">
	
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left"><%= @user.name %></h1>
      <%= breadcrumb_nav(['Edit']) %>
	</div>
  </div>
 </section>	
	
 <section class="white_background ">
  <div class="row">
    <div class="large-12 columns">
   	  <fieldset> 
	    <h4>Editing Profile</h4>
	
	    <%= render 'form' %>
	    <%= link_to 'Change Password', edit_user_registration_path %>
	 
   	  </fieldset>
    </div>
   </div>
 </section>  

</div>
