
<!--- JDavis: need breadcrumb jdhere --->
<section class="border_top">
 <div class="row">
    <div class="large-12 columns">
   	  <fieldset> 
		<h4>New user</h4>
		
		<%= render 'form' %>
		
		<%= link_to button_small('back'), :back %>
   	  </fieldset>
    </div>
  </div>
</section>
