<section class="border_top">
  <div class="row">
	<div class="large-12 columns">
  	
  	  <fieldset>
		<h4>Is this account for a household, animal group, or service provider?</h4> 
			
	    <ul class="small-block-grid-3 large-block-grid-3">
	      <li>
		   <%= link_to new_household_path do %>
		    <div class="panel callout front_page_callout">
	          <p>Household & Foster home (anyone with an animal family member)</p>
	        </div>
	       <% end %>
		  </li>
		  <li >
		   <%= link_to new_organization_path do %>
		    <div class="panel callout front_page_callout">
	          <p>Animal group (such as a pet rescue).</p>
	        </div>
	       <% end %>
		  </li>
		  <li>
		   <%= link_to new_service_provider_path do %>
		    <div class="panel callout front_page_callout">
	          <p>Service provider (veterinarians, groomers, etc.). <u>pre-Beta!</u></p>
	        </div>
	       <% end %>
		  </li>
		</ul>
	   
	  </fieldset>
    </div>
  </div>
</section>
