<%= form_for @user, :url => {:action => "set_association"} do |f| %>

  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.collection_radio_buttons :user_association_ids, @user.associations, :id, :name %>
    </div>
    
  </div>
  
  
  <div class="row">
    <div class="small-9 small-offset-3 columns"><%= f.submit %></div>
  </div>
<% end %>