<h3>Welcome!  Is this account for a household or service provider?</h3>

<ul class="small-block-grid-3">
  <li>
  	<span class="radius secondary label">Household</span>
  	<%= link_to image_tag('black-white-house-md.png'), new_household_path %>
  </li>
  
  <li>
  	<span class="radius secondary label">Service Provider (coming soon!)</span>
  	<%= link_to image_tag('stock-illustration-10774918-dog-veterinarian.jpg'), "#" %>
  </li>
</ul>