<% content_for :title, "Animal's Human".html_safe %>
<section class="border_top">
   <div class="row">
     <h4><%=@user.name%><%if current_user==@user%><small><%= link_to ' (edit)', edit_user_path(@user) %></small><%end%></h4>
	 <div class="large-7 columns">
	  <fieldset>
	  	  <h4>Recent activity</h4>
	  	  <% @activities.each do |activity| %>
			<div class="activity">
			  <%= link_to activity.owner.name_or_email, activity.owner if activity.owner %>
			  <%= render_activity activity %>
			</div>
		  <% end %>
	  </fieldset>
	</div>
  
   </div>
</section>



