/* 
	Template: Foundation 5 Starter
	Author: Curtiss Prickett - BC Gurus
*/

/* ====================
	Universals
======================= */

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
	color: #008CBA;
}
p { font-size: 0.85rem; }

/* ====================
	Header Styles
======================= */
#home header{
	padding-bottom: 25px;
}
header{
	padding: 15px 0;
	position: relative;
	z-index: 2;
}
#logo{
	float: left;
	margin-top: 12px;
}
	#logo:hover{ opacity: 0.7; }

#utility-nav { margin-top: 50px; }

.navigation { background-color: #333333; }

#divider {
	border-right: 1px solid #008CBA;
	padding-right: 1.375rem;
}

/* Search Box - Hidden until clicked */
#js-search{
	display: none;
	position: absolute;
	right: 44px;
	top: 43px;
	width: 260px;
}
#js-search input[type="text"]{
	background: #fff;
	font-size: 0.85em;
}
#js-search-btn .icon-remove,
#js-search-btn.open .icon-search{
	display: none; }
#js-search-btn.open .icon-remove{
	display: block;
	font-size: 18px;
	padding: 3px 0 0; }
#utn-0,#utn-1 {
	display: none;
}

/* ====================
	Home Page
======================= */
.fullwidth-slider .orbit-caption {
	text-align: center;
}
.services > div > div {
	padding-bottom: 30px;
	text-align: center;
}

.orbit-caption a {
	color: #fff;
}

ul.imgonly li {
	list-style-type: none;
}

/* ========
	Side Navigation
======================= */
aside ul{
	padding: 0;
	margin-left: 0;
	
}
aside li{
	list-style: none;
	margin: 0;
	padding: 0;
}
	aside li a:link,
	aside li a:visited{
		border-top: 1px solid #eaeaea;
		display: block;
		padding: 5px;
	}
	aside li a:active,
	aside li a:hover,
	aside li.selected a{
		background: #008cba;
		color: #fff;
	}
	aside li:first-child a{
		border: none;
		font-size: 1.25em;
		font-weight: bold;
	}
	aside li:first-child a:hover,
	aside li.selected:first-child a{
		background: none;
	}
	aside li.selected:first-child a{
		background: none;
		color: #008cba;
	}


/* =======================
	Blog Styles
======================= */
.recent-news .blogText h1,
.recent-news .blogPicture h1 {
	font-size: 130%;
	line-height: 1.1em;
	margin-bottom: 16px;
}

.recent-news .blog-options span {
	background: #ECFAFF;
	color: #008CBA;
	text-shadow: none;
	margin-bottom: 0;
}

.blog-description{
	clear: both;
	color: #666;
	margin: 15px 0;
}

.blog-options span {
	background: #ECFAFF;
	color: #008CBA;
	text-shadow: none;
	display: inline-block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	margin: 0 0 15px;
	padding: 5px 10px;
}

.panel h5{
	color: #008CBA;
	font-weight: 600;
	border-bottom: 1px solid #008CBA;
	padding-bottom: 10px;
}

.post-date,
.post-comments{
	color: #3f5666;
	font-size: 73%;
	font-style: italic;
}
.post-date{
	border-right: 1px solid #3f5666;
	margin: 0 5px 0 0;
	padding: 0 5px 0 0;
}

.sml-post{
	margin-bottom: 20px;
}
.pad-btm {
	margin-bottom: 30px;
}
.wrapper{
	background: url(images/pagebkg.jpg) repeat-x scroll center top;
}
.blog-Picture {
	position: relative;
}
.icon-grey {
	background: #b0b0b0;
	background: rgba(0,0,0,0.2);
	color: #fff;
	font-size: 130%;
	padding: 15px;
}
.round-brc {
	border-radius: 0 0 5px 0;
}
.blog-Picture > i, .blog-Picture > em {
	left: 1px;
	position: absolute;
	top: 1px;
}
.blogText h1 {
	margin: 13px 0 20px;
	width: 90%;
}
.blogText h1, .blogPicture h1 {
	font-size: 150%;
}
aside h5 {
	clear: both;
	margin: 40px 0 10px;
}
aside h5.noMar {
	margin-top: 5px;
}
.post-icon {
	margin-right: 5px;
}

.icon-primary-small {
	margin: 2px 10px 0 0;
}
.icon-primary, .icon-primary-small {
	color: #3f5666;
	float: left;
}
.sml-post {
	float: left;
	margin: -4px 0 20px;
	width: 86%;
}
.sml-post h6 a, .mcp-title h6 a {
	margin: 0;
	font-weight: 600;
}

/* ========
	Most Commented Posts
======================= */
.mcp-list{
	clear: both;
	margin: 10px 0;
	overflow: hidden;
}
.mcp-comment {
	background: #E6E6E6;
	color: #008cba;
	float: left;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 1.25em;
	font-weight: bold;
	height: 63px;
	text-align: center;
	width: 63px;
	border-radius: 63px;
	line-height: 63px;
	margin-top: 10px;
}
.mcp-title{
	float: left;
	padding: 20px 0 0 8px;
	width: 67%;
}

/* ========
	Breadcrumbs
======================= */
.breadcrumb{
	color: #008CBA;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: .875em;
	margin: 48px 0 0;
}
	.breadcrumb a:link,
	.breadcrumb a:visited{
		color: #008CBA;
	}
	.breadcrumb a:active,
	.breadcrumb a:hover{
		opacity: .8;
	}
.ptitle{
	margin: 20px 0 26px;
	font-weight: 400;
}

/* ========
	Portfolio List View
======================= */
.port-list{
	border-bottom: 1px solid #f6f6f6;
	clear: both;
	margin: 20px 0;
	overflow: hidden;
	padding: 0 0 20px;
}
.button-alt{
	display: inline-block;
	margin: 0 0 10px;
}
.port-links{
	margin: 20px 0 0;
}
#infscr-loading{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	margin: 25px 0;
}
#infscr-loading img{
	float: left;
	margin: -4px 10px 0 0;
	width: 24px;
}

/* ========
	Portfolio Details View
======================= */
.port-detail{
	margin: 0 0 30px;
	overflow: hidden;
}
.project-img{
	margin: 15px 0;
	overflow: hidden;
}
.port-details{
	color: #8f8f8f;
	font-size: .75em;
	list-style: none;
	margin: 0;
	padding: 10px 15px;
}
.port-details li{
	margin: 0;
	padding: 5px 0;
}
.project-details h3 {
}
.related{
	margin: 0 0 30px;
	overflow: hidden;
}
.related h6{
	font-size: .875em;
	margin: 15px 0;
	text-align: center;
}
.related .pagination{
	display: none;
}
.rounded {
	border-radius: 50%;
}
.icon-grey-small {
	background-color: #ECFAFF;
	color: #008CBA;
	font-size: .75em;
	padding: 4px 8px;
}

.icon-Text:before {
	content: "\f10d";
}

/* ========
	Pricing Table
======================= */
#pricing-table{
	background: #fdfdfd;
	border: 1px solid #e7e7e7;
	text-align: center;
	width: 100%;
}
#pricing-table td{
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
}
#pricing-table td.title-a{
	background: #008CBA;
}
#pricing-table td.title-b{
	background: #85ba04;
}
#pricing-table td.col-a{
	background: #eefbff;
}
#pricing-table td.col-b{
	background: #fbfff0;
	width: 42%;
}
.pricing-table h3,
#pricing-table h4,
#pricing-table td h6{
	color: #fff;
	margin: 10px 0;
}
#pricing-table p{
	margin: 0;
	font-size: 0.875em;
}



.blog-Text > i, .blog-Text > em {
	float: left;
	width: 50px;
}
.icon-Picture:before {
	content: "\f03e";
}

.blog-Picture > i, .blog-Picture > em {
	left: 1px;
	position: absolute;
	top: 1px;
}

.hours{
	border: 1px solid #CCCCCC;
	padding: 0;
	margin: 0;
}
.hours li{
	display: block;
	font-weight: 400;
	padding: 8px 10px;
}
.hours li:nth-child(2n+1){
	background: #E6E6E6;
}

#map {
    width: 100%;
    height: 380px;
}

#bvr {
	left: 7px;
	position: absolute;
	top: -8px;
}

/* ========
	MISC BC Overrides
======================= */
.shop-product-small h2 a {
	color: #008cba;
	font-size: 85%;
}

.shop-product-small li.price {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
}

a#catshopbuy:link, a#catshopbuy:visited {
	background: none repeat scroll 0 0 #008CBA;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

a#catshopbuy:link:hover {
	background: none repeat scroll 0 0 #46b6db;
}
select.shippingDropDown {
	height: auto;
}

.announcement-list h2 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 16px;
	margin: 0 0 3px 0;
}

.blog-post h2.post-title {
	line-height: 39px;
}

.BlogRecentPost li, .BlogTagList li, .BlogPostArchive li {
	font-size: 14px;
	line-height: 18px;
}

/* -----------------------------------------
   Responsive Tables
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
	
}

