<h1>Animal Breeders</h1>
<p>
Animal Minder provides a data management platform for breeders.  Breeders are allowed to create electronic care records on the animals they breed, document vaccinations and vet care, receive alerts, and generate reports.  Animal Minder simplifies the data management needs of breeders.  At purchase, the animal’s health and wellness record is transferred to the new guardian and the animals record is stored in the breeder’s archive database.
</p>
