<h3>Disaster Preparedness</h3>
<p>
Animal Minder in in the process of partnering with disaster management organizations to leverage the animal Minder platform for the purpose of animal management in the event of a natural disaster.  (Coming soon!)
</p>
