<h1>Animal Guardians</h1>
<p>
The Animal Minder platform allows animal guardians to store and organize their animal’s health and wellness information in the cloud, access it whenever and wherever it is needed, share pertinent animal information (vaccination records, care instructions, et cetera) with those involved in the care of their animals, receive reminders regarding heartworm, vaccination, and check-up dates, and communicate with and receive updates and alerts from their vet, other service providers, and other animal guardians.
</p>
