
<h3>Livestock Management</h3>
<p>
Animal Minder is currently developing a data management platform for livestock managers to easily manage rich data on horses, cattle, and exotics.  Document care, share and receive pertinent info with those involved in their care and management (vet services, ferriers, et cetera).
</p>
