<h1>Rescue Shelters(/h1>
<p><b>Animal Minder</b> is a free and easy to use data management platfom to assist rescue shelters in the data management of their operations.  From arrival to adoption, <b>Animal Minder</b> allows rescues to create electronic care records on their animal population, receive alerts, generate reports, and share and recieve infomation with those involved in the care of their animal population (veterinary services, foster families, et cetera).</P>
<p>With <b>Animal Minder</b>, animal’s record is transferred to the new guardian at adoption to assist them in the care of their new family member.  A copy of the animal's record is also stored in the shelter archive database.</p>

</p>
