<h1>Veterinarians</h1>
<p>
Animal Minder is currently developing a low cost, intuitive and fully integrated veterinary practice management platform to allow veterinary practices to magage their practices while fuly engaging the animal guardians. (Coming soon!) 
</p>
