<% content_for :title, "About us" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left">Contact us</h1>
      
	</div>
  </div>
 </section>
 
 <section class="white_background"> 
  <div class="row add-bottom white_background">
    <div class="columns large-9">
      

	  <p>
		AnimalMinder, LLC</br>
		
		225.892.0230</br>
		<%= mail_to 'james@animalminder.com' %>
	  </p>
    </div>
  </div>
 </section>

</div>