<% content_for :title, "Contact us" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left">Contact us</h1>
      
	</div>
  </div>
 </section>
 
 <section class="white_background"> 
  <div class="row  ">
    <div class="columns large-8 bottom_padding_1em">
      <%= link_to image_tag("https://maps.google.com/maps/api/staticmap?size=640x300&sensor=false&zoom=14&markers=30.4516347%2C-91.1167001"), "https://goo.gl/maps/CbX8f", target: "_blank" %>
    </div>
    <div class="columns large-4">
      <h4>AnimalMinder, LLC</h4>
      <hr>
      <p><i class="fa fa-phone"></i><strong> Phone:</strong> 225.892.0230</p>
      <p><i class="fa fa-home"></i><strong> Address:</strong> 7117 Florida Blvd, Baton Rouge, LA 70806</p>
      <p><i class="fa fa-envelope"></i><strong> Email:</strong> <%= mail_to 'james@animalminder.com' %></p>
    </div>
  </div>
  <div class="row ">
    <div class="columns large-7">
      <%= render 'layouts/beta_comment'%>
    </div>
  </div>
 </section>

</div>
