<div class="full_page">
  <section class="gray_background ">
    <div class="row pad-btm">
      <div class="column large-12">
	    <h1 class="ptitle left">Why use Animal Minder?</h1>
	  </div>
    </div>
  </section>
	
  <section class="white_background">
  	<div class="row pad-btm">
      <div class="column large-12">
      	<!--- Tyler: your input goes below --->
        
        
        <!--- Tyler: your input goes above --->
        
	<!--- clipboard image ---> 
	
	 
	<p>
	  <%= image_tag 'clipboard.png', size: '75x75', style: 'float:left;' %>
	  <b>It's proven</b> – The Animal Minder platform is currently assisting rescue shelters to modernize their operations from the filing cabinet 
	  to the cloud ensuring the optimal management of the health and wellness of their animal population through technology. You can trust it to 
	  work for your operation.
	</p>
	
	<p>
	  <%= image_tag 'turnkey.png', size: '75x75', style: 'float:left;' %> 
	  <b>It's turnkey</b> - Designed and built for efficient on-boarding and data management, your shelter operations will be up and running 
	  quickly and to scale.  Already have animal data in Petfinder?  Great!  We’re integrated, allowing you to quickly download you existing animal 
	  records and pictures to get you started.  Have data in spreadsheets or scanned PDFs in an e-file?  Import that too.  Simply and quickly.
	</p>
	
	<p>
	  <%= image_tag 'enterprise.png', size: '75x75', style: 'float:left;' %>
	  <b>It's enterprise</b> – the Animal Minder platform offers a full suite of apps for not only animal owners, rescue shelters, and breeders, 
	  but also livestock managers, veterinarians, and other service providers such as kennels and groomers.  The Animal Minder platform has the 
	  distinct ability to support data management and sharing across all areas of the animal health and wellness ecosystem by creating a ‘single 
	  source of truth’ record for each animal whose access is managed by the owner.
	</p>
	
	<p>
	  <%= image_tag 'free.png', size: '75x75', style: 'float:left;' %> 
	  <b>It’s free</b> – Animal Minder is provided free to animal rescues, animal foster homes, and animal owners to assist them in providing 
	  optimal care for their animals,  Spend your money where it counts: on your animal’s wellness.
	</p>
	</br>

	<p>
	  <b>Animal Minder’s</b> functionality meets all your shelters functional, & logistical needs:
	</p>
	
	<ul>
		<li><b>Scalable</b> – easy on-boarding, unlimited capacity</li>
		<li><b>Accessible</b> – device-agnostic to web and mobile</li>
		<li><b>Secure</b> – employs Hypertext Transfer Protocol Secure (HTTPS) for secure access, data storage, text and messaging</li>
		<li><b>Real-time Engagement</b> – access Animal Minder from anywhere via web or mobile, receive real-time notifications and reminders, and use our advanced messaging network including chat capability</li>
		<li><b>Data & Analytics</b> – Animal Minder allows you to document, track, share, and run reports on animal shelter operations through role based access, including external report delivery and service provider communication and coordination</li>
		<li><b>On-going Expansion and Optimization</b> – Animal Minder is continuously adding and updating features and technology.  Share a good idea and we’ll incorporate it.</li>
	</ul>

      </div>
    </div>
  </section>
</div>
