<div class="full_page">
  <section class="gray_background ">
    <div class="row pad-btm">
      <div class="column large-12">
	    <h1 class="ptitle left">Features</h1>
	  </div>
    </div>
  </section>
	
  <section class="white_background">
  	<div class="row pad-btm">
      <div class="column large-12">
      	<!--- Tyler: your input goes below --->
        <p>More information coming soon!</p>
        
        <!--- Tyler: your input goes above --->
      </div>
    </div>
  </section>
</div>
