<% content_for :title, "News" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left">News</h1>
	</div>
  </div>
 </section>
 
 <section class="white_background"> 
  <div class="row ">
    <div class="columns large-12">
    <!--- JDavis: add a news feed.  jdhere. --->
      <article class="blogPicture">
            <h5>AnimalMinder to pitch at SemperStartup</h5>
            <div class="blog-options">
				<span><em class="icon-user"></em> mike </span>
				<span><em class="icon-pencil"></em> 1-Oct-2014</span>
			</div>
            <div class="blog-description">
                <p>
                  AnimalMinder founders will pitch at the 2014 SemperStartup event. SemperStartup is 
                  a week focused on growing the community of warrior entrepreneurs and celebrating the journey 
                  as we work to increase the number of veterans who start, grow, and successfully scale free market enterprises! 
                </p>
            </div>
           
      </article>
      
      <article class="blogPicture">
            <h5>AnimalMinder selected for TechStars event</h5>
            <div class="blog-options">
				<span><em class="icon-user"></em> tyler </span>
				<span><em class="icon-pencil"></em> 03-Jun-2014</span>
				
			</div>
            <div class="blog-description">
                <p>
                  AnimalMinder participated in the 2014 TechStars Patriot Boot Camp.  Held in New York City,
                  the event is a national program designed to engage, inspire, and mentor military 
                  veterans to start, innovate, and scale the next generation of high-growth companies.  
                </p>
            </div>
       </article>
    </div>
  </div>
 	
  
  
 </section>

</div>
