<% content_for :title, "News" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left">News</h1>
	</div>
  </div>
 </section>
 
 <section class="white_background"> 
  <div class="row ">
    <div class="columns large-12">
      <p>
      	More coming soon!
      </p>  
    </div>
  </div>
 	
  
  
 </section>

</div>