<h4>Contact Owner</h4>

<%= form_tag contact_owner_path(@animal), remote: true, id: "contact_form" do %>
  <div class="row">
    <div class="large-12 columns">
      	
  	  <%= text_area_tag 'message', nil, placeholder: "message to owner", class: "text_area_10em"%> 
    </div> 
  </div>
  <div class="row"> 
  	<%= (hidden_field_tag 'sender_id', current_user.id) if current_user.present? %>
    <div class="large-12  columns">
      <%= submit_tag "send", class: "button small" %> 
    </div> 
  </div>

<% end %>