<% content_for :title, "Animal Organization" %>
<section class="border_top">
	
  <div class="row">
    <fieldset>
  	  <div ng-controller="AnimalCtrl">
        <h4><%= @owner %> </h4>
      
        <form ng-submit="addAnimal()">
	      <input type="text" ng-model="newAnimal.name">
	      <input type="submit" value="Add">
	    </form>
	  
	    <ul>
		  <li ng-repeat="animal in animals">
		    {{animal.name}}
		  </li>
		</ul>
	  </div>
      
    </fieldset>
  </div>
</section>


