<h4>Check-out animal</h4>
<%= form_for(@animal_association, remote: true, html: { "data-abide" => '' }) do |f| %>
  <fieldset>
  	
    <%= f.hidden_field :checked_in, value: false %>
    
    <div class="actions">
      <%= f.submit "check out", class: "button small" %>
    </div>

  </fieldset>
  
<% end %>