<h4>Check-in animal</h4>
<%= form_for(@animal_association, html: { "data-abide" => '' }) do |f| %>
  <fieldset>
  	
    
    
    <div class="actions">
      <%= f.submit %>
    </div>

  </fieldset>
  
<% end %>