<% content_for :title, "Animal Service Provider" %>
<%= form_for(@service_provider, html: {"data-abide" => ''} ) do  |f| %>
 <fieldset>  
  <%= render 'fields', f: f %>
  
  <% if @service_provider.new_record? %>
   <div class="row">
     <div class="large-12 columns">
       <label for='part_of'>
         <%= check_box_tag 'part_of' %>
         <span class="custom checkbox"></span>
         Select if you are part of this service provider (owner, employee, etc.)
       </label>
     </div>
   </div>
  <% end %>
  <div class="row">
    <div class="large-6 columns">
	  <div class="actions">
	    <%= f.submit %>
	  </div>
    </div>
  </div>
 </fieldset>
<% end %>
