<% content_for :title, "Animal Service Provider" %>
<%= form_for(@service_provider, html: {"data-abide" => ''} ) do  |f| %>
 <fieldset>  
  <%= render 'fields', f: f %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
 </fieldset>
<% end %>
