<fieldset>
  <div class="row">
  	<div class="columns large-10">
	  <%= f.text_field :name, placeholder: "Veterinarian's name" %>
	</div>
	<div class="columns large-2">
	  <%= f.hidden_field :_destroy %>
  	  <%= link_to image_tag('cross.png'), '#', class: "remove_fields" %>
  	</div>
  </div>
</fieldset>