<% content_for :title, "Edit Animal Service Provider" %>

<section class="border_top">
 <div class="row">
   <div class="large-12 columns">

	<%= render 'form' %>
	
	<%= link_to button_small('back'), :back %>
   </div>
 </div>
</section>
