<% content_for :title, "Animal Photo Gallery" %>
<div class="full_page">
	
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
      <div id='animal_header_div'>
      	<%= render 'header_section' %>
      </div>
      <%= breadcrumb_nav( @animal.owner.present? ? [show_link(@animal.owner, @animal.owner.name), @animal.name] : [edit_link(@animal, @animal.name)] ) %>
	</div>
  </div>
 </section>

 <section class="white_background">	
  <div class="row add-bottom">
	<h5>Crop an uploaded photo to create an animal's avatar</h5>	
	<div id='animal_picture_div'>
	  <%= render 'pictures_section' %>	
	</div>
	  
   
  </div>
 </section>  
  
</div>

<div id="editPictureModal" class="reveal-modal" data-reveal>
  <div id="picture_edit_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
