<% content_for :title, "Animal Photo Gallery" %>
<%= breadcrumb_nav( @animal.owner ? [@animal.owner, @animal] : [@animal] ) %>

<div id='animal_picture_div'>
  <%= render 'pictures_section' %>	
</div>

<div id="editPictureModal" class="reveal-modal" data-reveal>
  <div id="picture_edit_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
