/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require select2
 *= require jquery-ui.min
 *= require jquery-ui-1.10.3.custom
 *= require jquery.Jcrop
 *= require dataTables/jquery.dataTables.foundation
 *= require font-awesome
 */

ul.ui-autocomplete {
  position: absolute;
  background-color: #FFF !important;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF !important;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
.ui-helper-hidden-accessible { display:none; }

.welcome_header {
  color: #FFF;
  font-family: 'Source Sans Pro',sans-serif;
  text-shadow: 0px 1px 0px rgba(51, 51, 51, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center !important;
  padding-top: 2em;
}

.front_subheader {
  font-family: 'Source Sans Pro',sans-serif;
  text-shadow: 0px 1px 0px rgba(51, 51, 51, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center !important;
  padding-top: 2em;
}

.nav_text, .nav_text a {
  color: #777 !important;
  text-decoration: none;
  
  display: block;
 /**text-transform: uppercase;**/
  font-weight: normal !important;
}

.nav_text a:hover, .blue_text .dropdown a:hover { 
  text-shadow: 0px 1px 0px rgba(51, 51, 51, 0.5);
}

.center_text, .center {
  text-align: center !important;
}

.no_padding {
  padding-left: 0px !important; /* change the values to anything that you want */
  padding-right: 0px !important;
}

.image_text {
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%;
}

div.front_image {
  background-image: url('/assets/banner2.png');
  background-size:   contain;                      /* <------ */
  background-repeat: no-repeat;
  text-align: center;
}



/**

section.front_page_section_home {
  padding-bottom: 10em;
  
}

section.front_page_section_about {
  padding-top: 3em;
  padding-bottom: 1em;
}

section.front_page_section_login {
  padding-top: 5em;
  padding-bottom: 5em;
}
**/

.white_background {
  background-color: #FFF !important;
}

.gray_background {
  background-color: #E9E9E9;
}

.gray_background_dark {
  background-color: #333333;
}

.blue_background {
 background-color: #C8DAFF !important;
}

.green_background {
  background-color: #13c4a5;
}

.green_background_front_page {
  background-color: #13c4a5;
  color: #fff;
}

.red_background {
  background-color: #e84f40 !important;
}

.brown_background {
  background-color: #996600;
}

.black_background {
  background-color: #000000;
  color: #fff;
}

.main_content_section {
  padding-bottom: 5px;
  border: solid 3px black;
}

.breadcrumb_div {
  padding-top: 65px !important;
}

.green_background a:link, .green_background a:visited {
  color: blue !important;
}     

.white_text, .white_text a {
  color: #FFF !important;
}


.blue_text, .blue_text a {
  color: blue !important;
}

.border_top {
  border-top: solid 2px black !important;
}

.border_bottom {
  border-bottom: solid 2px black !important;
}


table {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

table.margin-bottom_25em {
  margin-bottom: 0.25em;
}

table.margin-top_25em {
  margin-top: 0.25em;
}

table.no_border {
  border: none !important;
}

tr.current_client {
  background-color: #F0F8FF !important;
  
}

.picture_border_2 {
  border: solid 2px black;
}

.picture_border_3 {
  border: solid 3px black;
}

.bottom_padding_5 {
  padding-bottom: 5px;
}

.bottom_padding_1em {
  padding-bottom: 1em;
}

.bottom_padding_3em {
  padding-bottom: 3em !important;
}

.bottom_padding_10 {
  padding-bottom: 10px;
}

.bottom_padding_10em {
  padding-bottom: 10em !important;
}

.top_padding_1em {
  padding-top: 1em;
}

.right_padding_3 {
  padding-right: 3px;
}

fieldset {
  background-color: #fff;
}

fieldset.gray_background {
  background-color: #D3D3D3;
}

.front_page_list {
  padding-left: 20px;
}

.no_wrap {
  white-space: nowrap !important;
}

label.nav_dropdown {
  width: 150px;
}

.no_bg {
  background-color: transparent !important;
}

.bottom_align {
  display: table-cell !important;
  vertical-align: bottom !important;
  margin-top: 5%;
}

/*
.panel {
  border-color: #000000 !important;
}
*/

.disabled {
   pointer-events: none;
   cursor: default;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

.select, .regular_select, .org_regular_select {
  margin: 0 0 1em 0 !important;
}

.menu-bar {
  /*border: 3px solid #000 !important;*/
 height: 45px !important;
 background-color: #000000 !important;
}



input.upload_file, input.upload_picture {
  border: 1px solid #CCC !important;
}

div.panel:hover { 
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5); 
}

/*.selectable_image { border: solid 1px transparent; }*/
.selectable_image:hover { 
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}

.ui-dialog {
  font-size: 0.875em !important;
}

.new_account_nav {
  position: relative !important;
}

img.transfer {
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

img.animal_alert {
  border: solid 4px #FF0000;
}

img.foster {
  border: solid 4px #0000FF;
}

.blink_border {
  border: solid 4px #FFCC00 !important;
}

div.notifications {
  text-align: center;
  width: 30px;
  background: url('white-flag-icone-6376-48.png') no-repeat center;
  background-size:contain;
  color: #FF0000 !important;
  font-weight: bold;
}

.notifications_text, .notifications_text a {
  background: url('box_red_16.png') no-repeat center;
}

.progress {
   background-color: #FFFFFF !important;
}

ul.notifications {
  list-style:none;
  /*margin:0 0 1em 15px;
  padding: 0;	*/
}

ul.notifications li{
  /*line-height:1.3em;
  margin: .25em 0;*/
  padding: 0 0 0 15px;
  background:url('scho-arrow.gif') no-repeat 0 7px;
}

div.preview {
  width:100px;
  height:100px;
  overflow:hidden;
  margin-left:5px;
}

/*
.fun_font {
  color: #00FF40;
  font-family: 'Life Savers', cursive !important;
  font-weight: normal;
  text-shadow: 2px 2px #000000;
}
*/

#animal_table {
  border-collapse: separate;
}

.fouc {display: none;} /* JDavis: this class is applied to several of the jQuery UI items to stop flashing unformatted content */

.hidden {display: none !important;}

.animalminder_image_bar {
  background-color: #FFFFFF !important;
}

.animalminder_image {
  padding: 1em 1em 1em 1em ;
}

form {
  padding: .25em .25em .25em .25em !important;
}

.text_area_10em {
  height: 10em !important;
}

/* JDavis: Kermit green for Tyler
button, input[type="submit"] {
  color: #000000 !important;
  background-color: #00FF00 !important;
  border: none !important;
}
*/

button:hover, .button:hover { 
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5); 
}

div.innerDetails { display: none; }

footer {
  padding-top: 1em !important;
}

.tabs .tab-title { 	
  border-top: 1px solid #DDD; 
  border-left: 1px solid #DDD; 
  border-right: 1px solid #DDD; 
  border-radius: 5px 5px 0px 0px;	
}

.tabs li.active > a { 			
  border-bottom: 1px #65c8c6 !important; 
  background: #65c8c6 !important;	
}	 

.tabs-content {
  border: 2px solid #65c8c6; 
  padding: 1em;
}

.data_table select {
  height: 1.5rem !important;
  padding: 0 !important;
}

.no_margin_bottom {
  margin-bottom: 0rem !important;
}

/* JDavis: this hides the document email form and lets jQuery handle the display */
tr.email_document { 
	display: none;
	background: #ccc;
	border: 1px solid #999;
	
}

.email:hover, .file:hover { 
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5); 
}

/***** Household News Feed ****/

.h_news {
	border: 1px solid #ccc;
	margin: 25px 0;
}
.h_news ul{
	padding: 0;
	list-style: none;
}
.h_news li{
	padding: 20px;
	border-bottom: 1px dashed #ccc;
}
/***
.h_news li.odd{
	background: #fafafa;
}
.h_news li:after {
	content: '';
	display: block;
	clear: both;
}
.h_news img{
	float: left;
	width: 100px;
	margin: 5px 15px 0 0;
}
.h_news a{
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #06f;
}
.h_news p {
	margin: 15px 0 0;
	font-size: 14px;
}
***/


/***** Organization News Feed ****/
/***
#org_news {
  width: 100%;
  overflow: hidden;
  padding-left: 10%;
  background-color: #00FF00;
}
***/
#org_news {
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #C20;
	margin: 5px 0;
	position: relative !important;
	padding: 0 0 0 120px;
	box-shadow: 0 2px 5px -3px #000;
	border-radius: 3px;
}
#org_news:before {
	content: "Latest News";
	display: inline-block;
	font-style: normal;
	background: #C20;
	/***background-image:url('dropdown_arrow.gif');
	background-repeat: no-repeat;
    background-position: left center;***/
	padding: 14px;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}
#org_news:after {
    content: '';
    display: block;
    top: 0;
    left: 80px;
    background: linear-gradient(#FFF, rgba(255, 255, 255, 0));
    height: 20px;
}
#org_news ul li {
	list-style: none;
	padding: 10px 0;
}


/*****RSS Feed****/

/****utility*****/
.utility {
	margin: 2em 0.5em 2em 0;
}
.utility, .utility li {
	padding: 0;
	list-style: none;
}
.utility li {
	float: left;
	margin: 0;
	font-size: 0.85em;
}
.utility li a {
	color: #848484 !important;
}
.utility li a.orange, .utility li.active a {
	color: #EF6F4E !important;
}
.utility li.divider {
	border-right: 1px solid #ddd !important;
	margin-right: 0.75em;
	padding: 0.75em 0.5em !important;
	height: 1em !important;
	margin: 1.5em 0em 0.5em 0;
}
.utility li.user-stats {
	padding-right: 1em;
}
.utility li.user-stats img {
	width: 20px;
}

/* ===================
   JDavis: AnimalMinder rebrand
====================== */
h1,h2,h3,h4,h5,h6 {
	color: #008CBA !important;
}
p { font-size: 0.85rem !important; }

/* ====================
	Header Styles
======================= */
#home header{
	padding-bottom: 25px;
}

header{
/**padding: 15px 0;**/
	position: relative;
	z-index: 2;
}
#logo{
	float: left;
	margin-top: 12px;
}
	#logo:hover{ opacity: 0.7; }

#utility-nav { margin-top: 25px; }

section.navigation { 
  background-color: #000; 
}

#divider {
	border-right: 1px solid #008CBA;
	padding-right: 1.375rem;
}


/* ====================
	Home Page
======================= */
.fullwidth-slider .orbit-caption {
	text-align: center;
}
.services > div > div {
	padding-bottom: 30px;
	text-align: center;
}

.orbit-caption a {
	color: #fff;
}

ul.imgonly li {
	list-style-type: none;
}

div#login {
  margin-bottom: 0 !important;
}

/* ========
	Side Navigation
======================= */
aside ul{
	padding: 0;
	margin-left: 0;
	
}
aside li{
	list-style: none;
	margin: 0;
	padding: 0;
}
	aside li a:link,
	aside li a:visited{
		border-top: 1px solid #eaeaea;
		display: block;
		padding: 5px;
	}
	aside li a:active,
	aside li a:hover,
	aside li.selected a{
		background: #008cba;
		color: #fff;
	}
	aside li:first-child a{
		border: none;
		font-size: 1.25em;
		font-weight: bold;
	}
	aside li:first-child a:hover,
	aside li.selected:first-child a{
		background: none;
	}
	aside li.selected:first-child a{
		background: none;
		color: #008cba;
	}


/* =======================
	Blog Styles
======================= */
.recent-news .blogText h1,
.recent-news .blogPicture h1 {
	font-size: 130%;
	line-height: 1.1em;
	margin-bottom: 16px;
}

.recent-news .blog-options span {
	background: #ECFAFF;
	color: #008CBA;
	text-shadow: none;
	margin-bottom: 0;
}

.blog-description{
	clear: both;
	color: #666;
	margin: 15px 0;
}

.blog-options span {
	background: #ECFAFF;
	color: #008CBA;
	text-shadow: none;
	display: inline-block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	margin: 0 0 15px;
	padding: 5px 10px;
}

.panel h5{
	color: #008CBA;
	font-weight: 600;
	border-bottom: 1px solid #008CBA;
	padding-bottom: 10px;
}

.post-date,
.post-comments{
	color: #3f5666;
	font-size: 73%;
	font-style: italic;
}
.post-date{
	border-right: 1px solid #3f5666;
	margin: 0 5px 0 0;
	padding: 0 5px 0 0;
}

.sml-post{
	margin-bottom: 20px;
}
.pad-btm {
	margin-bottom: 30px !important;
}
.wrapper{
	/*background: url(images/pagebkg.jpg) repeat-x scroll center top;*/
  background: #D8D8D8;
}

.associations-main ul {
	margin: 0;
	padding: 0;
}
.associations-main li {
	background:none;
	list-style: none;
}

.associations-main ul.associationList li{
	width:auto;
}

.blog-Picture {
	position: relative;
}
.icon-grey {
	background: #b0b0b0;
	background: rgba(0,0,0,0.2);
	color: #fff;
	font-size: 130%;
	padding: 15px;
}
.round-brc {
	border-radius: 0 0 5px 0;
}
.blog-Picture > i, .blog-Picture > em {
	left: 1px;
	position: absolute;
	top: 1px;
}
.blogText h1 {
	margin: 13px 0 20px;
	width: 90%;
}
.blogText h1, .blogPicture h1 {
	font-size: 150%;
}
aside h5 {
	clear: both;
	margin: 40px 0 10px;
}
aside h5.noMar {
	margin-top: 5px;
}
.post-icon {
	margin-right: 5px;
}

.icon-primary-small {
	margin: 2px 10px 0 0;
}
.icon-primary, .icon-primary-small {
	color: #3f5666;
	float: left;
}
.sml-post {
	float: left;
	margin: -4px 0 20px;
	width: 86%;
}
.sml-post h6 a, .mcp-title h6 a {
	margin: 0;
	font-weight: 600;
}

/* ========
	Most Commented Posts
======================= */
.mcp-list{
	clear: both;
	margin: 10px 0;
	overflow: hidden;
}
.mcp-comment {
	background: #E6E6E6;
	color: #008cba;
	float: left;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 1.25em;
	font-weight: bold;
	height: 63px;
	text-align: center;
	width: 63px;
	border-radius: 63px;
	line-height: 63px;
	margin-top: 10px;
}
.mcp-title{
	float: left;
	padding: 20px 0 0 8px;
	width: 67%;
}

/* ========
	Breadcrumbs
======================= */
.breadcrumb{
  color: #000;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: .875em;
  margin: 24px 0 0;	
}

.breadcrumb a:link, .breadcrumb a:visited{
  color: #008CBA;
}
.breadcrumb a:active, .breadcrumb a:hover{
  opacity: .8;
}
.ptitle{
  margin: 20px 0 26px;
  font-weight: 400;
}

/* ========
	Portfolio List View
======================= */
.port-list{
	border-bottom: 1px solid #f6f6f6;
	clear: both;
	margin: 20px 0;
	overflow: hidden;
	padding: 0 0 20px;
}
.button-alt{
	display: inline-block;
	margin: 0 0 10px;
}
.port-links{
	margin: 20px 0 0;
}
#infscr-loading{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	margin: 25px 0;
}
#infscr-loading img{
	float: left;
	margin: -4px 10px 0 0;
	width: 24px;
}

/* ========
	Portfolio Details View
======================= */
.port-detail{
	margin: 0 0 30px;
	overflow: hidden;
}
.project-img{
	margin: 15px 0;
	overflow: hidden;
}
.port-details{
	color: #8f8f8f;
	font-size: .75em;
	list-style: none;
	margin: 0;
	padding: 10px 15px;
}
.port-details li{
	margin: 0;
	padding: 5px 0;
}
.project-details h3 {
}
.related{
	margin: 0 0 30px;
	overflow: hidden;
}
.related h6{
	font-size: .875em;
	margin: 15px 0;
	text-align: center;
}
.related .pagination{
	display: none;
}
.rounded {
	border-radius: 50%;
}
.icon-grey-small {
	background-color: #ECFAFF;
	color: #008CBA;
	font-size: .75em;
	padding: 4px 8px;
}

.icon-Text:before {
	content: "\f10d";
}

/* ========
	Pricing Table
======================= */
#pricing-table{
	background: #fdfdfd;
	border: 1px solid #e7e7e7;
	text-align: center;
	width: 100%;
}
#pricing-table td{
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
}
#pricing-table td.title-a{
	background: #008CBA;
}
#pricing-table td.title-b{
	background: #85ba04;
}
#pricing-table td.col-a{
	background: #eefbff;
}
#pricing-table td.col-b{
	background: #fbfff0;
	width: 42%;
}
.pricing-table h3,
#pricing-table h4,
#pricing-table td h6{
	color: #fff;
	margin: 10px 0;
}
#pricing-table p{
	margin: 0;
	font-size: 0.875em;
}



.blog-Text > i, .blog-Text > em {
	float: left;
	width: 50px;
}
.icon-Picture:before {
	content: "\f03e";
}

.blog-Picture > i, .blog-Picture > em {
	left: 1px;
	position: absolute;
	top: 1px;
}

.hours{
	border: 1px solid #CCCCCC;
	padding: 0;
	margin: 0;
}
.hours li{
	display: block;
	font-weight: 400;
	padding: 8px 10px;
}
.hours li:nth-child(2n+1){
	background: #E6E6E6;
}

#map {
    width: 100%;
    height: 380px;
}

#bvr {
	left: 7px;
	position: absolute;
	top: -8px;
}

/* ========
	MISC BC Overrides
======================= */
.associationList h2 a {
	color: #008cba;
	font-size: 75%;
}


a#catshopbuy:link, a#catshopbuy:visited {
	background: none repeat scroll 0 0 #008CBA;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

a#catshopbuy:link:hover {
	background: none repeat scroll 0 0 #46b6db;
}
select.shippingDropDown {
	height: auto;
}

.announcement-list h2 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 16px;
	margin: 0 0 3px 0;
}

.blog-post h2.post-title {
	line-height: 39px;
}

.BlogRecentPost li, .BlogTagList li, .BlogPostArchive li {
	font-size: 14px;
	line-height: 18px;
}

/* -----------------------------------------
   Responsive Tables
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
	
}
