/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require select2
 *= require jquery-ui.min
 *= require jquery-ui-1.10.3.custom
 *= require jquery.Jcrop
 *= require dataTables/jquery.dataTables.foundation
 */

ul.ui-autocomplete {
  position: absolute;
  background-color: #FFF !important;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF !important;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
.ui-helper-hidden-accessible { display:none; }

.welcome_header {
  color: #FFF;
  font-family: 'Source Sans Pro',sans-serif;
  text-shadow: 0px 1px 0px rgba(51, 51, 51, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center !important;
}

.nav_text, .nav_text a {
  color: #777 !important;
  text-decoration: none;
  
  display: block;
 /**text-transform: uppercase;**/
  font-weight: normal !important;
}

.nav_text a:hover, .blue_text .dropdown a:hover { 
  text-shadow: 0px 1px 0px rgba(51, 51, 51, 0.5);
}

.center_text, .center {
  text-align: center !important;
}

.no_padding {
  padding-left: 0px !important; /* change the values to anything that you want */
  padding-right: 0px !important;
}

section.front_page_section_home {
 padding-top: 7em;
 padding-bottom: 10em;
  
}

section.front_page_section_about {
  padding-top: 3em;
  padding-bottom: 1em;
}

section.front_page_section_login {
  padding-top: 5em;
  padding-bottom: 5em;
}

.white_background {
  background-color: #FFF;
}

section.gray_background {
  background-color: #E9E9E9;
}

.green_background {
  background-color: #93A889;
}

.green_background_front_page {
  background-color: #13c4a5;
  color: #fff;
}

.red_background {
  background-color: #e84f40;
}

.brown_background {
  background-color: #996600;
}

.black_background {
  background-color: #000000;
  color: #fff;
}

.main_content_section {
  padding-bottom: 5px;
  border: solid 3px black;
}

.green_background a:link, .green_background a:visited {
  color: blue !important;
}     

.white_text, .white_text a {
  color: #000 !important;
}


.blue_text, .blue_text a {
  color: blue !important;
}

.border_top {
  border-top: solid 2px black !important;
}

table {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

table.margin-bottom_25em {
  margin-bottom: 0.25em;
}

table.margin-top_25em {
  margin-top: 0.25em;
}

table.no_border {
  border: none !important;
}

tr.current_client {
  background-color: #F0F8FF !important;
  
}

.picture_border_2 {
  border: solid 2px black;
}

.picture_border_3 {
  border: solid 3px black;
}

.bottom_padding_5 {
  padding-bottom: 5px;
}

.bottom_padding_1em {
  padding-bottom: 1em;
}

.bottom_padding_3em {
  padding-bottom: 3em !important;
}

.bottom_padding_10 {
  padding-bottom: 10px;
}

.bottom_padding_10em {
  padding-bottom: 10em !important;
}

.right_padding_3 {
  padding-right: 3px;
}

fieldset {
  background-color: #fff;
}

fieldset.gray_background {
  background-color: #D3D3D3;
}

.front_page_list {
  padding-left: 20px;
}

li.no_wrap {
  white-space: nowrap !important;
}

label.nav_dropdown {
  width: 150px;
}

.no_bg {
  background-color: transparent !important;
}

.bottom_align {
  display: table-cell !important;
  vertical-align: bottom !important;
  margin-top: 5%;
}

.panel {
  border-color: #000000 !important;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

.select, .regular_select, .org_regular_select {
  margin: 0 0 1em 0 !important;
}

nav.top-bar {
  /*border: 3px solid #000 !important;*/
}

.top-bar-section .has-dropdown > a:after {
   border-color: transparent transparent transparent !important;
}

input.upload_file, input.upload_picture {
  border: 1px solid #CCC !important;
}

div.front_page_callout { min-height: 120px; }
div.front_page_callout:hover { 
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}

/*.selectable_image { border: solid 1px transparent; }*/
.selectable_image:hover { 
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}

.ui-dialog {
  font-size: 0.875em !important;
}

.new_account_nav {
  position: relative !important;
}

img.transfer_image {
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

img.animal_alert {
  border: solid 4px #FF0000;
}

.blink_border {
  border: solid 4px #FFCC00 !important;
}

div.notifications {
  text-align: center;
  width: 30px;
  background: url('white-flag-icone-6376-48.png') no-repeat center;
  background-size:contain;
}

.notifications_text, .notifications_text a {
  color: #FFFFFF !important;
  background: url('box_red_16.png') no-repeat center;
}

.progress {
   background-color: #FFFFFF !important;
}

ul.notifications {
  list-style:none;
  /*margin:0 0 1em 15px;
  padding: 0;	*/
}

ul.notifications li{
  /*line-height:1.3em;
  margin: .25em 0;*/
  padding: 0 0 0 15px;
  background:url('scho-arrow.gif') no-repeat 0 7px;
}

div.preview {
  width:100px;
  height:100px;
  overflow:hidden;
  margin-left:5px;
}

.fun_font {
  color: #00FF40;
  font-family: 'Life Savers', cursive !important;
  font-weight: normal;
  text-shadow: 2px 2px #000000;
}

#animal_table {
  border-collapse: separate;
}

.fouc {display: none;} /* JDavis: this class is applied to several of the jQuery UI items to stop flashing unformatted content */

.hidden {display: none !important;}

.petabyt_image_bar {
  background-color: #FFFFFF !important;
}

.petabyt_image {
  padding: 1em 1em 1em 1em ;
}

form {
  padding: .25em .25em .25em .25em !important;
}

.text_area_10em {
  height: 10em !important;
}

button, input[type="submit"] {
  color: #000000 !important;
  background-color: #00FF00 !important;
}

div.innerDetails { display: none; }

/*****trying to fix an error with foundation's sections and displaying charts****/
/***
.section-container.auto > section > .content.health_tab {display:block; visibility:hidden;}
.section-container.auto > section.active > .content.health_tab {visibility:visible;}
***/

/*****News Feed****/
/***
#org_news {
  width: 100%;
  overflow: hidden;
  padding-left: 10%;
  background-color: #00FF00;
}
***/
#org_news {
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #C20;
	margin: 5px 0;
	position: relative !important;
	padding: 0 0 0 120px;
	box-shadow: 0 2px 5px -3px #000;
	border-radius: 3px;
}
#org_news:before {
	content: "Latest News";
	display: inline-block;
	font-style: normal;
	background: #C20;
	padding: 14px;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}
#org_news:after {
    content: '';
    display: block;
    top: 0;
    left: 80px;
    background: linear-gradient(#FFF, rgba(255, 255, 255, 0));
    height: 20px;
}
#org_news ul li {
	list-style: none;
	padding: 10px 0;
}


/*****RSS Feed****/

