<table id="animal_table" class="fouc"  >
  <thead>
	<tr>
	  <th></th>
	  <th>Name</th>
	  <th>Location</th>
	  <th>Species</th>
	  <th>Breed</th>
	  <th>Gender</th>
	  <th>Date In</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
    <% @organization.animals.each do |animal| %>
      <% next if animal.pending_transfer? %>
	  <tr id="<%= animal.id %>">
	  	<%= render 'organizations/animal_table_row', animal: animal %>
	  </tr>
	<% end %>
  </tbody>
</table>
