<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% for picture in @animal.pictures %>
	<li>
	   <%= image_tag(picture.image_location, class: 'th') %>
	   </br>
	   <%= link_to image_tag('cross.png', :alt => "del"), animal_picture_path(@animal, picture), method: :delete, confirm: 'Remove this picture?', remote: true %>
	</li>
		  
  <% end %>
</ul>