<h4><%= @user.name %></h4>
<p>This not functional.  Will be able to edit / remove roles to a user by September 25.</p>
<table>
  <% @roles.each do |role| %>
    <tr>
      <td><%= role %></td>
      <td><%= image_tag('cross.png', :alt => "del") %></td>
    </tr>
  <% end %>
</table>
