<% content_for :title, "Animal Organization" %>

<div class="full_page">

 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left">New Organization</h1>
      <%= breadcrumb_nav(["New Organization"]) %>
	</div>
  </div>
 </section>
 <section class="white_background ">

  <div class="row">
   
    <h4>Tell us about your organization</h4>

    <%= render 'organizations/form' %>
   

  </div>
 </section>
 
</div>