<% content_for :title, "Animal Organization" %>
<section class="border_top">
	
 <div class="row">
  <fieldset>
  	
  <h4><%= @organization.name %> <small><%= link_to ' (edit)', edit_organization_path(@organization), 'data-no-turbolink' => true %></small></h4>
  <div class="large-12 columns">
	<fieldset>
	  <% if @organization.animals.count == 0 %>
	    <h4>Tell us about your animals</h4>
      <% end %>
      
      <div class="row">
       <div class="large-12 columns">
       	<div id="org_animal_table_div"><%= render 'animal_table'%></div>
       </div>
      </div>
			
	    <%= link_to "Add Animal", new_organization_animal_path(@organization), "data-reveal-id" => "animalModal", remote: true %> 
	</fieldset>
   </div>
  </fieldset>
 </div>
 
</section>


<div id="animalModal" class="reveal-modal">
  <div id="org_animal_div" class="org_animal_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="transferAnimalModal" class="reveal-modal">
  <div id="animal_transfer_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
