<% content_for :title, "Animal Organization" %>
<section class="border_top">
	
 <div class="row">
  <fieldset>	
    <h4><%=@organization.name%></h4>
    
    <fieldset ng-controller="OrganizationCtrl">
      {{organization.name}}
      
     
    </fieldset>
   
  </fieldset>
 </div>
 
</section>


