<header>
  <div class="row">
    <div class="large-12 columns">
	  <ul id="utility-nav" class="inline-list right">
        <li>
	      <%= image_tag s3_url('white-flag-icone-6376-48.png'), size: '25x25' %>
	    </li>
	    
	    <li>
	      <%= image_tag 'icon-user-small.png', size: '25x25' %>
	    </li>
      </ul>
      
			<!-- end .utility -->
	  <%= link_to_home %>
			<!-- end #logo -->
    </div>
		<!-- end .columns.large-12 -->
  </div>
	<!-- end .row -->
</header> 