<% if @household.animals.count == 0 %>
  <h3>Tell us about your animals</h3>
<% else %>  
  <% @household.animals.each do |animal| %>
    <div class="columns large-6 small-12">
	  <%= render 'households/animal_panel', animal: animal %>
	</div>
  <% end %>
<% end %>