<% if @animals.present? %>
  <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
    <% @animals.each do |animal| %>
      <li>	
	    <%= render 'households/animal_panel', animal: animal %>
	  </li>
    <% end %>
  </ul>
<% else %>  
  <h3>Tell us about your animals</h3>
<% end %>
