
<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left"><%= @household.name %></h1>
      <%= breadcrumb_nav([show_link(@household, @household.name), "Edit" ]) %>
	</div>		
  </div>
 </section>
 
 <section class="white_background"> 
  <div class="row add-bottom white_background">
  	
    <div class="columns large-12"> <%= render 'edit_tabs' %> </div>
  	
  </div>
   
  <!---  
  
  ---> 
   
 </section>

</div> 

<%= render 'layouts/add_user'%>

<div id="editHumanModal" class="reveal-modal" data-reveal>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

